@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsUsuarioModel
@{
    var Usuario = Model.Usuario;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @Usuario.id</li>
  <li class="list-group-item"> <b>nombre: </b> @Usuario.nombre</li>
  <li class="list-group-item"> <b>apellidos: </b> @Usuario.apellidos</li>
  <li class="list-group-item"><b>direccion: </b> @Usuario.direccion</li>
  <li class="list-group-item"><b>telefono: </b> @Usuario.telefono</li>
  <li class="list-group-item"><b>ciudad: </b> @Usuario.ciudad</li>

</ul>	